{% extends 'base.html.twig' %}

{% block title %}Carburant index{% endblock %}

{% block body %}
    <h1>Carburant index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NomCarb</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for carburant in carburants %}
            <tr>
                <td>{{ carburant.id }}</td>
                <td>{{ carburant.nomCarb }}</td>
                <td>
                    <a href="{{ path('carb_show', {'id': carburant.id}) }}">show</a>
                    <a href="{{ path('carb_edit', {'id': carburant.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('carb_new') }}">Create new</a>
{% endblock %}
