{% extends 'base.html.twig' %}

{% block title %} Ajout categorie {% endblock %}

{% block body %}

<h1> Ajout d'une categorie</h1>
        {# {{ form(form_car) }} #}

    {{ form_start(form, {'attr':{'novalidate':'novalidate'}}) }}
     {{ form_errors(form) }}

    <div class="row">
        <div class="col-6 offset-3">
            {{ form_row(form.nom, {'attr':{'placeholder':'Veuillez entrer la categorie'}} ) }}
            {# les formes s'aplliquent pour les trois #}
        </div>
    </div>
        
    {{ form_rest(form) }}
    {# affiche tout le restepour specifier tous les champs que je ne specifie  #}


<div class="row">
    <button type="submit" class="btn btn-info col-4 offset-4 mt-3">Ajouter!</button>

</div>    
    {{ form_end(form) }}
{% endblock %}